services:
  api:
    container_name: forum-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - CORS_ORIGIN=${CORS_ORIGIN:-http://app.forum.test}
    restart: unless-stopped
    networks:
      - forum.test

networks:
  forum.test:
    name: forum.test
    external: true
